n8n/linkedin-analytics.workflow.json
{
  "name": "LinkedIn Analytics (Buffer)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Weekday 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bufferapp.com/1/profiles.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "node-buffer-profiles",
      "name": "Buffer: Get Profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "buffer-api-token",
          "name": "Buffer API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profiles = $input.all()[0].json;\nconst arr = Array.isArray(profiles) ? profiles : [];\nconst linkedin = arr.find(p => p.service === 'linkedin' || p.service === 'linkedin_personal');\nif (!linkedin) {\n  throw new Error('No LinkedIn profile found in Buffer. Connect LinkedIn at buffer.com first.');\n}\nreturn [{ json: { profile_id: linkedin.id, username: linkedin.service_username || linkedin.formatted_username } }];"
      },
      "id": "node-extract-profile",
      "name": "Extract LinkedIn Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.bufferapp.com/1/profiles/' + $json.profile_id + '/updates/sent.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "count", "value": "30" },
            { "name": "page", "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "node-buffer-posts",
      "name": "Buffer: Get Sent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "buffer-api-token",
          "name": "Buffer API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst posts = Array.isArray(input) ? input : (input.updates || []);\nconst sevenDaysAgo = Date.now() - (7 * 24 * 60 * 60 * 1000);\n\nconst recent = posts.filter(p => (p.sent_at ? p.sent_at * 1000 : 0) > sevenDaysAgo);\n\nif (recent.length === 0) {\n  return [{ json: { period: '7_days', pulled_at: new Date().toISOString(), post_count: 0, message: 'No posts in the last 7 days' } }];\n}\n\nconst withMetrics = recent.map(p => {\n  const s = p.statistics || {};\n  const reactions = (s.likes || 0) + (s.reactions || 0);\n  const comments = s.comments || 0;\n  const shares = (s.shares || 0) + (s.reposts || 0);\n  const impressions = Math.max(s.impressions || s.reach || 1, 1);\n  const engRate = parseFloat(((reactions + comments + shares) / impressions * 100).toFixed(2));\n  const text = p.text || '';\n  const format = /^\\d\\.\\s/.test(text) ? 'numbered_list'\n    : text.startsWith('\\u2022') || text.startsWith('-') ? 'bullet_list'\n    : (text.match(/\\n\\n/g) || []).length >= 3 ? 'thread_style'\n    : text.length < 280 ? 'short' : 'long_form';\n  return {\n    text_preview: text.slice(0, 200),\n    sent_at: new Date(p.sent_at * 1000).toISOString().slice(0, 10),\n    reactions, comments, shares, impressions,\n    engagement_rate_pct: engRate, format\n  };\n});\n\nconst sorted = [...withMetrics].sort((a, b) => b.engagement_rate_pct - a.engagement_rate_pct);\nconst formatCounts = {};\nwithMetrics.forEach(p => { formatCounts[p.format] = (formatCounts[p.format] || 0) + 1; });\nconst topFormat = Object.entries(formatCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || 'unknown';\nconst totalImpressions = withMetrics.reduce((s, p) => s + p.impressions, 0);\nconst totalEngagement = withMetrics.reduce((s, p) => s + p.reactions + p.comments + p.shares, 0);\nconst avgRate = parseFloat((totalEngagement / Math.max(totalImpressions, 1) * 100).toFixed(2));\n\nreturn [{ json: {\n  period: '7_days',\n  pulled_at: new Date().toISOString(),\n  post_count: recent.length,\n  total_impressions: totalImpressions,\n  avg_engagement_rate_pct: avgRate,\n  top_format: topFormat,\n  format_breakdown: formatCounts,\n  top_3_posts: sorted.slice(0, 3),\n  bottom_3_posts: sorted.slice(-3),\n  all_posts: withMetrics\n} }];"
      },
      "id": "node-format-analytics",
      "name": "Format Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const analytics = $input.all()[0].json;\nconst response = await fetch('http://100.99.6.88:8787/api/linkedin-analytics', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify(analytics)\n});\nif (!response.ok) {\n  throw new Error(`Dashboard save failed: ${response.status} ${await response.text()}`);\n}\nconst result = await response.json();\nreturn [{ json: { ...result, pulled_at: analytics.pulled_at, post_count: analytics.post_count } }];"
      },
      "id": "node-save-dashboard",
      "name": "Save to Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Weekday 7am": {
      "main": [[{ "node": "Buffer: Get Profiles", "type": "main", "index": 0 }]]
    },
    "Buffer: Get Profiles": {
      "main": [[{ "node": "Extract LinkedIn Profile", "type": "main", "index": 0 }]]
    },
    "Extract LinkedIn Profile": {
      "main": [[{ "node": "Buffer: Get Sent Posts", "type": "main", "index": 0 }]]
    },
    "Buffer: Get Sent Posts": {
      "main": [[{ "node": "Format Analytics", "type": "main", "index": 0 }]]
    },
    "Format Analytics": {
      "main": [[{ "node": "Save to Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
